html {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  box-sizing: border-box;
}

body {
  background: #eee;
}

header > h1 {
  text-align: center;
  color:orangered;
  text-shadow: 1px 1px 1px black;
}

.filters {
  display: flex;
  justify-content: space-evenly;

  & #categories {
    padding: 0.5rem;
    font-weight: bold;
    border:thin solid silver;
    border-radius: 5px;
  }
}

.container {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.item {
  background: #fff;
  width: 250px;
  height: 380px;
  padding: 1rem;
  border: thin solid silver;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  border-radius: 8px;

  & button {
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #ffd814;
    opacity: 0.85;

    &:hover {
      opacity: 1;
    }
  }
}

.item > img {
  width: 100px;
  transition: 0.5s ease-in-out;

  &:hover {
    transform:scale(1.1);
  }
}